<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Activació i desactivació dels mòduls</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Menú superior -->
        <table border="0">
            <tr>
                <td>
                    <a th:href="@{/moduls}"><img src="/imatges/logo.png" alt="Logo" width="130" height="110"/></a>
                </td>
                <td>
                   <img src="/imatges/home.png" alt="Home" width="75" height="75"/>
                </td>
                <td width="1530" align="right">
                    <a th:href="@{/mostrarPerfil}"><img src="/imatges/imgPerfil.png" alt="imatgePerfil" width="75" height="75"/></a>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td> 
                <td align="center">
                    <label>Inici</label>
                </td>
            </tr>
        </table>
        <hr>
        
        <h1>ACTIVACIÓ I DESACTIVACIÓ DELS MÒDULS</h1>
        
        <table border="0">
            <tr>
                <td>
                    <label>Mòdul Pel·lícules</label>
                </td>
                <td>
                    <button>Director</button>
                </td>
                <td>
                    <button>Guionista</button>
                </td>
                <td>
                    <button>Actor</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mòdul Usuaris</label>
                </td>
                <td>
                    <button>Director</button>
                </td>
                <td>
                    <button>Guionista</button>
                </td>
                <td>
                    <button>Actor</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Usuari Director</label>
                </td>
                <td>
                    <button>Director</button>
                </td>
                <td>
                    <button>Guionista</button>
                </td>
                <td>
                    <button>Actor</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Usuari Guionista</label>
                </td>
                <td>
                    <button>Director</button>
                </td>
                <td>
                    <button>Guionista</button>
                </td>
                <td>
                    <button>Actor</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Usuari Actor</label>
                </td>
                <td>
                    <button>Director</button>
                </td>
                <td>
                    <button>Guionista</button>
                </td>
                <td>
                    <button>Actor</button>
                </td>
            </tr>
        </table>
        
    </body>
</html>
