<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Afegir pel·lícula</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Menú superior -->
        <table border="0">
            <tr>
                <td>
                    <a th:href="@{/moduls}"><img src="/imatges/logo.png" alt="Logo" width="130" height="110"/></a>
                </td>
                <td>
                    <a th:href="@{/llistatPelicules}"><img src="/imatges/home.png" alt="Home" width="75" height="75"/></a>
                </td>
                <td align="center">
                    <img src="/imatges/anadir.png" alt="afegir" width="65" height="65"/>
                </td>
                <td width="1420" align="right">
                    <a th:href="@{/mostrarPerfil}"><img src="/imatges/imgPerfil.png" alt="imatgePerfil" width="75" height="75"/></a>
                </td>
            </tr>
            <tr>
                <td>

                </td> 
                <td align="center">
                    <label>Inici</label>
                </td>
                <td>
                    <label>Afegir pel·lícules</label>
                </td>
            </tr>
        </table>
        <hr>

        <h1>AFEGIR PEL·LÍCULES</h1>
        <form th:action="@{/guardarPelicules}" method="post" th:object="${pelicula}">
            <table cellspacing="10">
                <tr>
                    <td>
                        <img src="/imatges/pelicula.png" alt="Portada Pelicula" width="130" height="130"/>
                    </td>
                    <td>
                        <h2>Títol</h2>
                        <h2>Sinopsi</h2>
                    </td>
                    <td>
                        <input type="text" id="titol" name="titol">
                        <br><br>
                        <input type="text" id="sinopsi" name="sinopsi">
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h2>Gènere:</h2>
                        <input type="text" id="genere" name="genere">
                    </td>
                    <td>
                        <h2>Any d'estrena:</h2>
                        <input type="number" id="any" name="any">
                    </td>

                </tr>

            </table>

            <br> 
            
            <!-- Botó per enviar les dades-->
            <input type="submit" name="crear" value="Crear"/>
        </form>
        <a th:href="@{/llistatPelicules}"><button>Cancelar</button></a>
    </body>
</html>
