<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Afegir pel·lícula</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Menú superior -->
        <header th:replace="~{layout/plantilla :: capceleraPelis}" />
        <hr>

        <h1>AFEGIR PEL·LÍCULES</h1>
        <form th:action="@{/guardarPelicules}" method="post" th:object="${pelicules}">
            <table cellspacing="10">
                <tr>
                    <td>
                        <img src="/imatges/pelicula.png" alt="Portada Pelicula" width="130" height="130"/>
                    </td>
                    <td>
                        <h2>Títol</h2>
                        <h2>Sinopsi</h2>
                    </td>
                    <td>
                        <input type="text" id="titol" name="titol">
                        <br><span th:if="${#fields.hasErrors('titol')}" th:errors="*{titol}"/>
                        <br><br>
                        <input type="text" id="sinopsi" name="sinopsi">
                        <br><span th:if="${#fields.hasErrors('sinopsi')}" th:errors="*{sinopsi}"/>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h2>Gènere:</h2>
                        <input type="text" id="genere" name="genere">
                        <br><span th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"/>
                    </td>
                    <td>
                        <h2>Any d'estrena:</h2>
                        <input type="text" id="any" name="any">
                        <br><span th:if="${#fields.hasErrors('any')}" th:errors="*{any}"/>
                    </td>

                </tr>

            </table>

            <br> 
            
            <!-- Botó per enviar les dades-->
            <input type="submit" name="crear" value="Crear"/>
        </form>
        <a th:href="@{/llistatPelicules}"><button>Cancelar</button></a>
    </body>
</html>
