<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar pel·lícula</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Menú superior -->
        <header th:replace="~{layout/plantilla :: capceleraPelis}" />
        <hr>

        <h1>MODIFICAR PEL·LÍCULES</h1>
        <form th:action="@{/guardarPelicula}" method="post" th:object="${pelicules}">
            <table cellspacing="10">
                <tr>
                    <td>
                        <img src="/imatges/pelicula.png" alt="Portada Pelicula" width="130" height="130"/>
                    </td>
                    <td>
                        <h2>Títol</h2>
                        <h2>Sinopsi</h2>
                    </td>
                    <td>
                        <input type="text" id="titol" name="titol" th:field="*{titol}">
                        <br><span th:if="${#fields.hasErrors('titol')}" th:errors="*{titol}"/>
                        <br><br>
                        <input type="text" id="sinopsi" name="sinopsi" th:field="*{sinopsi}">
                        <br><span th:if="${#fields.hasErrors('sinopsi')}" th:errors="*{sinopsi}"/>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h2>Gènere:</h2>
                        <input type="text" id="genere" name="genere" th:field="*{genere}">
                        <br><span th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"/>
                    </td>
                    <td>
                        <h2>Any d'estrena:</h2>
                        <input type="text" id="any" name="any" th:field="*{any}">
                        <br><span th:if="${#fields.hasErrors('any')}" th:errors="*{any}"/>
                    </td>

                </tr>

            </table>

            <br> 
            <a th:href="@{llistatPelicules}"><button>Cancelar</button></a>
            <input type="submit" name="editar" value="Editar"/>
        </form>
    </body>
</html>
