<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar Guionistes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Menú superior -->
        <!--Establim la plantilla creada-->
        <header th:replace="~{layout/plantilla :: capcaleraUsuaris}" />
        <hr>

        <h1>MODIFICAR GUIONISTES</h1>
        <form th:action="@{/guardarGuionista}" method="post" th:object="${guionistes}">
            <table width="700">
                <tr align="center">
                    <td>
                        <h4>Nom</h4>
                    </td>
                    <td>
                        <input type="text" id="nom" name="nom" th:field="*{nom}">
                        <br><span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"/>
                    </td>
                    <td>
                        <h4>Sexe</h4>
                    </td>
                    <td>
                        <input type="text" id="sexe" name="sexe" th:field="*{sexe}">
                        <br><span th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}"/>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <h4>Cognoms</h4>
                    </td>
                    <td>
                        <input type="text" id="cognoms" name="cognoms" th:field="*{cognoms}">
                         <br><span th:if="${#fields.hasErrors('cognoms')}" th:errors="*{cognoms}"/>
                    </td>
                    <td>
                        <h4>Telèfon</h4>
                    </td>
                    <td>
                        <input type="text" id="telefon" name="telefon" th:field="*{telefon}">
                        <br><span th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"/>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <h4>Correu electrònic</h4>
                    </td>
                    <td>
                        <input type="text" id="correu" name="correu" th:field="*{correu}">
                        <br><span th:if="${#fields.hasErrors('correu')}" th:errors="*{correu}"/>
                    </td>
                    <td>
                        <h4>Pel·lícula guiada</h4>
                    </td>
                    <td>
                        <input type="text" id="pelGuiada" name="pelGuiada" th:field="*{pelGuiada}">
                         <br><span th:if="${#fields.hasErrors('pelGuiada')}" th:errors="*{pelGuiada}"/>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <h4>Edad</h4>
                    </td>
                    <td>
                        <input type="text" id="edad" name="edad" th:field="*{edad}">
                        <br><span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"/>
                    </td>
                    <td>
                        <h4>Password</h4>
                    </td>
                    <td>
                        <input type="text" id="password" name="password" th:field="*{password}">
                        <br><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                    </td>
                </tr>
                <tr align="center">
                    
                    <td>
                       <input type="hidden" name="rol.idrol" value="2">
                    </td>
                </tr>
            </table>

            <br> 
            <a th:href="@{/llistatGuionistes}"><button>Cancelar</button></a>
            <input type="submit" name="editar" value="Editar"/>
        </form>
    </body>
</html>
