<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pel·lícules</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- Menú superior -->
        <table border="0">
            <tr>
                <td>
                    <a th:href="@{/moduls}"><img src="/imatges/logo.png" alt="Logo" width="130" height="110"/></a>
                </td>
                <td>
                    <img src="/imatges/home.png" alt="Home" width="75" height="75"/>
                </td>
                <td align="center">
                    <a th:href="@{/afegirPelicules}"><img src="/imatges/anadir.png" alt="afegir" width="65" height="65"/></a>
                </td>
                <td width="1420" align="right">
                    <a th:href="@{/mostrarPerfil}"><img src="/imatges/imgPerfil.png" alt="imatgePerfil" width="75" height="75"/></a>
                </td>
            </tr>
            <tr>
                <td>

                </td> 
                <td align="center">
                    <label>Inici</label>
                </td>
                <td>
                    <a th:href="@{/afegirPelicules}"><label>Afegir pel·lícules</label></a>
                </td>
            </tr>
        </table>

        <hr>

        <h1>PEL·LÍCULES</h1>


        <img src="/imatges/filtro.png" alt="Home" width="45" height="45" >

        <label for="search">Títol:</label>

        <input type="text" id="search" name="search">

        <label for="options">Gènere:</label>
        <select id="options" name="options[]" >
            <option value="accio">Acció</option>
            <option value="aventura">Aventura</option>
            <option value="cienciaFiccio">Ciencia Ficció</option>
            <option value="comedia">Comedia</option>
            <option value="drama">Drama</option>
            <option value="fantasia">Fantasia</option>
            <option value="musical">Musical</option>
            <option value="suspense">Suspense</option>
            <option value="terror">Terror</option>
        </select>
        <!--<a th:href="@{/buscarPelis/}+${pelicula.titol}">--><input type="submit" value="Filtrar"><!--</a>-->


        <br><br><br>

        <form th:href="@{/afegirPelicules}" method="post" th:object="${pelicula}">
            <div th:if="${pelicules!=null && !pelicules.empty}">
                <a th:href="@{/infoPelicules}">
                    <!--Mostramos las peliculas, la imagen encima del titulo, una pelicula al lado de la otra (vistas en horizontal) -->
                    <table>
                        <tr>
                        <th:block th:each="pelicula : ${pelicules}">
                            <td>
                                <a th:href="@{/infoPelicules/}+${pelicula.titol}"><table border="1">
                                        <tr>
                                            <td align="center">
                                                <img src="/imatges/pelicula.png" alt="Portada pelicula" width="100" height="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td th:text="${pelicula.titol}"></td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </th:block>
                        </tr>
                    </table>
                </a>
            </div>
        </form>

    </body>
</html>
