<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inici de sessió</title>
        <meta charset="UTF-8">
        <style>
            input[type="text"],
            input[type="password"] {
                width: 90%;
                padding: 10px;
                font-size: 16px;
            }
            
            h1 {
                font-size: 35px;
            }
            label {
                font-size: 22px;
            }
            input[type="submit"] {
                font-size: 20px;
                padding: 15px 30px;
            }
        </style>
    </head>
    <body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div align="center" style="background-color: lightblue; border: 1px solid black; padding: 10px; width: 700px; height: 600px;" >
        <img src="/imatges/logo.png" alt="Logo" width="130" height="110"/>
        <h1>LOGIN</h1>
            <form th:action="@{/login}" method="post">  
                <label for="username">Usuari:</label>
                <input type="text" id="username" name="username" required>
                <p>
                <label for="password">Contrasenya:</label>
                <input type="password" id="password" name="password" required>
                <p>
                <p><br>
                <input type="submit" value="Iniciar Sessió"/>

            </form>
        </div>
    </body>
</html>
